<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">User List</div>
                </div>
                <div class="panel-body">
                    <table datatable class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Total Bills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let user of listAllUsers" (click)="onSelectUser(user._id)">
                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.total_invoice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Profile</div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="__firstname" class="col-sm-2 control-label">Firstname:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="firstname" type="text" class="form-control" id="__firstname" name="__firstname" ngControl="firstname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="__lastname" class="col-sm-2 control-label">Lastname:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="lastname" type="text" class="form-control" id="__lastname" name="__lastname" ngControl="lastname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="__email" class="col-sm-2 control-label">email:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="email" type="text" class="form-control" id="__email" name="__email" ngControl="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="__sex" class="col-sm-2 control-label">sex:</label>
                            <div class="col-sm-10">
                                <select [(ngModel)]="sex" type="text" class="form-control" id="__sex" name="__sex" ngControl="sex">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="__birthday" class="col-sm-2 control-label">Birthday:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="birthday" type="date" class="form-control" id="__birthday" name="__birthday" ngControl="birthday">
                            </div>
                        </div>
                        <input [(ngModel)]="id" type="hidden" class="form-control" id="__id" name="__id" ngControl="id">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="buttom" class="btn btn-default" (click)="onSaveUser()">Submit</button>
                                <button type="button" class="btn btn-danger" (click)="onDeleteUser()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>