<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Add Customer</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="__firstname" class="col-sm-2 control-label">Firstname:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="firstname" type="text" class="form-control" id="__firstname" name="__firstname" ngControl="firstname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="__lastname" class="col-sm-2 control-label">Lastname:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="lastname" type="text" class="form-control" id="__lastname" name="__lastname" ngControl="lastname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="__email" class="col-sm-2 control-label">email:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="email" type="text" class="form-control" id="__email" name="__email" ngControl="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="__sex" class="col-sm-2 control-label">sex:</label>
                        <div class="col-sm-10">
                            <select [(ngModel)]="sex" type="text" class="form-control" id="__sex" name="__sex" ngControl="sex">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="__birthday" class="col-sm-2 control-label">Birthday:</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="birthday" type="date" class="form-control" id="__birthday" name="__birthday" ngControl="birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>