<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li routerLinkActive='current'><a routerLink='/'><i class="glyphicon glyphicon-home"></i> หน้าแรก</a></li>
        <li routerLinkActive='current'><a routerLink='/user-add'><i class="glyphicon glyphicon-user"></i> เพิ่มผู้ใช้งาน</a></li>
        <li routerLinkActive='current'><a routerLink='/user-management'><i class="glyphicon glyphicon-star"></i> จัดการผู้ใช้งาน</a></li>
        <li routerLinkActive='current'><a routerLink='/bill-add'><i class="glyphicon glyphicon-list"></i> เพิ่มบิล</a></li>
        <li routerLinkActive='current'><a routerLink='/bill-management'><i class="glyphicon glyphicon-duplicate"></i> จัการบิล</a></li>
    </ul>
</div>